body{
    font-family: 'Inter', sans-serif;
    margin: 50px 140px; 
}
section{
    margin-top: 100px;
}
/* Banner Part */
.banner{
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}
.banner-text{
    text-align: center;
    color: #FFF;
    padding: 177px 344px;
    border-radius: 16px;
}
/* welcome-part */
.welcome-part{
    text-align: center;
    margin: 100px 400px;
}
.red-color{
    color: #F00;
}
/* midnight-section */
.midnight-section{
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
.midnight-section img{
    padding: 68px 238px 67px 90px;
}
.midnight-section-text-area{
    padding: 125px 125px 140px 325px;
    border-radius: 16px; 
    
} 
.midnight-section-text-area h1{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
}
.midnight-section-text-area h5{
    color: rgba(255, 255, 255, 0.80); 
}
.midnight-section-text-area button{
    background: none;
    border: none;
    color: #FFF;
}
/* join-now-area */
.join-now-area{
    background-color: rgba(255, 0, 0, 0.10);
    text-align: center;
    padding: 100px 385px;
    margin: 100px 140px;
    border-radius: 16px;
}
.join-btn{
    background: #F00;
    border-radius: 8px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    color: white;
}
/* coming-soon-area */
.coming-soon-area{
    display: flex;
    justify-content: space-around;
}
.coming-soon-left-text{
    padding: 100px 100px 100px 140px;
}
.coming-soon-img{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}
.coming-soon-right-text{
    padding: 100px 140px 0 100px;
}
.coming-soon-right-text img{
    margin-top: 60px;
}
/* Holiday-Area */
.holiday-area-text{
    text-align: center;
    padding: 0 266px;
}
.holiday-area-text h1{
    font-size: 72px;
    font-weight: 900px;
}
.holiday-img{
    display: flex;
    background-image: url('images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.left-img{
    padding: 0 0 0 144px;
}
.middle-img{
    position: absolute;
    margin: 140px 429px 59px 886px;
}
.right-img{
    margin: 5px 144px 0 102px;
}